{% extends 'main_view/base.html' %}

{% block content %}

<!--{% if user.is_authenticated %}-->
<!--HI {{ user.username }}-->
<!--<p><a href="{% url 'logout' %}">Logout</a></p>-->
<!--{% else %}-->
<!--<p>You are not logged in</p>-->
<!--<a href="{% url 'login' %}">Login</a>-->

<!--{% endif %}-->

  <section class="introduction">
        <h1 class="introduction-title">We are German Mastery</h1>
        <button class="introduction-btn">Get it</button>
    </section>

    <section class="advantages">
        <h2 class="advantages-title">Our Advantages</h2>
        <ul class="advantages-list">
            <li class="advantage-item">Experienced instructors</li>
            <li class="advantage-item">Interactive learning materials</li>
            <li class="advantage-item">Flexible schedule options</li>
        </ul>
    </section>

    <section class="card-section">
        <h1 class="card-section-title">We have German courses</h1>
        <div class="card-block">
            <div class="card">
                <img src="" alt="" class="card-image">
                <p class="course-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, aliquid architecto culpa dignissimos distinctio exercitationem expedita facere molestias mollitia nihil nisi perferendis quod reprehenderit sint sit sunt, tempora temporibus veniam!</p>
            </div>
            <div class="card">
                <img src="" alt="" class="card-image">
                <p class="course-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, aliquid architecto culpa dignissimos distinctio exercitationem expedita facere molestias mollitia nihil nisi perferendis quod reprehenderit sint sit sunt, tempora temporibus veniam!</p>
            </div>
            <div class="card">
                <img src="" alt="" class="card-image">
                <p class="course-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, aliquid architecto culpa dignissimos distinctio exercitationem expedita facere molestias mollitia nihil nisi perferendis quod reprehenderit sint sit sunt, tempora temporibus veniam!</p>
            </div>
        </div>
    </section>
{% endblock %}
