{% extends 'main_view/base.html' %}

{% block content %}

  <section class="introduction">
        <h1 class="introduction-title">We are German Mastery</h1>
        <a href="{% url 'main_view:levels' %}"><button class="introduction-btn">Start</button></a>
    </section>
    <section class="advantages">
        <h2 class="advantages-title">Our Advantages</h2>
        <ul class="advantages-list">
            <li class="advantage-item">Experienced instructors</li>
            <li class="advantage-item">Interactive learning materials</li>
            <li class="advantage-item">Flexible schedule options</li>
        </ul>
    </section>

    <section class="card-section">
        <h1 class="card-section-title">We have German courses</h1>
        <div class="card-block">
            <div class="card">
                <img src="" alt="" class="card-image">
                <p class="course-text">hello</p>
            </div>
            <div class="card">
                <img src="" alt="" class="card-image">
                <p class="course-text">helloo2</p>
            </div>
            <div class="card">
                <img src="" alt="" class="card-image">
                <p class="course-text">hello3</p>
            </div>
        </div>
    </section>
{% endblock %}