{% extends 'main_view/base.html' %}

{% block content %}

<section class="introduction">
    <h1 class="introduction-title">We are German Mastery</h1>
    <a href="{% url 'main_view:levels' %}"><button class="introduction-btn">Start lessons</button></a>
</section>
<section class="advantages">
    <h2 class="advantages-title">Our Advantages</h2>
    <ul class="advantages-list">
        <li class="advantage-item">Experienced instructors</li>
        <li class="advantage-item">Interactive learning materials</li>
        <li class="advantage-item">Flexible schedule options</li>
    </ul>
</section>

<section class="card-section">
    <h1 class="card-section-title">We have German courses</h1>
    <div class="card-block">
        <div class="card">
            <img src="https://www.de-online.ru/_nw/9/10248591.jpg" alt="Course 1" class="card-image">
            <p class="course-text">hello</p>
        </div>
        <div class="card">
            <img src="https://www.de-online.ru/_nw/1/49163272.jpg" alt="Course 2" class="card-image">
            <p class="course-text">helloo2</p>
        </div>
        <div class="card">
            <img src="https://www.de-online.ru/_nw/11/00247521.jpg" alt="Course 3" class="card-image">
            <p class="course-text">hello3</p>
        </div>
    </div>
</section>
<section>
    <div class="form-comment">
        <h3>Leave a comment</h3>
        <div>
            <form method="post" action="{% url 'main_view:comments' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <div>
                    <button type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>

    {% for c in comment %}
            <h4>{{ c.name }}</h4>
            <p>{{ c.text }}</p>
    {% endfor %}

</section>

{% endblock %}
