{% extends 'main_view/base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Language Proficiency Description</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            max-width: 600px;
            margin: 20px auto;
            line-height: 1.6;
        }

        h1 {
            color: #333;
        }

        p {
            color: #555;
        }
    </style>
</head>
<body>
   {% block content %}
   {% for l in level_list %}
     <h3><a href="#">{{ l.level }}</a></h3>
     <p><br>{{ l.description }}<br></p>
   {% endfor %}
   {% endblock %}
</body>
</html>

