{% extends 'main_view/base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
</head>
<body>

<h1>{{ question.question_text }}</h1>

<form method="post" action="{% url 'lesson:view_question' question_id=question.id %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Next</button>
</form>

</body>
</html>


{% endblock %}

<comment>
     <h1>Quiz</h1>
      <form method="post" action="{% url 'lesson:quiz' question.id %}">
    {% csrf_token %}
    <h3>{{ question.question_text }}</h3>
    {{ form.as_p }}
    <button type="submit">Next</button>
      </form>
</comment>